/* Video, legg inn bilder. Linker, vis linken, legg inn http eller https i alle linker som skal vises.. */


/* Nullstillinger start */
/* Nullstillinger slutt */

a[href^="https"]:link:after, a[href^="https"]:visited:after, a[href^="http"]:link:after, a[href^="http"]:visited:after { content:" [" attr(href) "] "; }



#slider a img {
    display: none;
}


#slider, .mySlides {
    display: block;
}

svg defs, svg ellipse, svg .screen, svg.menu {
    display: none;
}


/* Størrelser og plassering start */
aside, audio {
    display: none;
}
/* Bilder, filmer, audio start */
/* Bilder, filmer, audio slutt */
/* Størrelser og plassering slutt */



/* Tekst instillinger start */
/* Tekst instillinger slutt */



/* Meny start */
/* Meny slutt */



/* Header start */
/* Header slutt */



/* Footer start *//*
footer {
    display: none;
}*/
/* Footer slutt */



/* Farger start */
/* Farger slutt */