/* Nullstillinger start */
/* Nullstillinger slutt */



/* Størrelser og plassering start */
/* Bilder, filmer, audio start */
/* Bilder, filmer, audio slutt */
/* Størrelser og plassering slutt */



/* Tekst instillinger start */
/* Tekst instillinger slutt */



/* Meny start */
/* Meny slutt */



/* Header start */
/* Header slutt */



/* Footer start */
/* Footer slutt */



/* Farger start */
/* Farger slutt */





/*body {
	max-width: 1000px;
	margin: 0 auto;
}*/
/*
main {
	max-width: 1000px;
	margin: auto;
}

#burger-button {
	display: none;
}
#main-nav {
	display: block;
}

#main-nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	/*background-color: grey;*//*
}

#main-nav li {
	display: inline-block;
}

main {
  width: 80%;
  float: left;
  height: 100%;
}

aside {
  width: 20%;

  float: left;
}

footer {
  float: left;
  width: 100%;
}
*/