
#tweets h3, #tracks h3, #tracks h2, #blogPoster h2, #events h3 {
	width: 100%;
}
#tweets article, #tracks section, #blogPoster article, #events article {
    width: 50%;
    /*padding-bottom: 10px;*/
}

#news p, #about p {
    column-count: 2;
}
#tracks img {
    max-width: 100%;
}